Repository JonasToth/depth-conversions: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

ubuntu-1804-clang-8:
  stage: compilers
  variables:
    CC: clang-8
    CXX: clang++-8
    LD: lld-8
  script:
  - ./scripts/ci/normal_build.bash
  tags:
  - ubuntu1804
  - test

ubuntu-1804-gcc-8:
  stage: compilers
  variables:
    CC: gcc-8
    CXX: g++-8
  script:
  - ./scripts/ci/normal_build.bash
  tags:
  - ubuntu1804
  - test

clang-tidy-analysis:
  stage: compilers
  script:
  - mkdir -p build && cd build
  - cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=OFF -DWITH_TESTING=OFF -DWITH_CONTRACT_EXCEPTION=OFF -DWITH_BENCHMARK=OFF -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  - cd .. && ln -s build/compile_commands.json && cd src/
  ...

ubuntu-1804-asan:
  script:
  - ./scripts/ci/normal_build.bash
  stage: sanitizers
  variables:
    CC: clang-8
    CXX: clang++-8
    LD: clang++-8
    BUILD_TYPE: RelWithDebInfo
    WITH_ASAN: 'ON'
  tags:
  - ubuntu1804
  - test

ubuntu-1804-ubsan:
  script:
  - ./scripts/ci/normal_build.bash
  stage: sanitizers
  variables:
    CC: clang-8
    CXX: clang++-8
    LD: clang++-8
    BUILD_TYPE: RelWithDebInfo
    WITH_UBSAN: 'ON'
  tags:
  - ubuntu1804
  - test

ubuntu-1804-tsan:
  script:
  - ./scripts/ci/normal_build.bash
  stage: sanitizers
  allow_failure: true
  variables:
    CC: clang-8
    CXX: clang++-8
    LD: clang++-8
    BUILD_TYPE: RelWithDebInfo
    WITH_TSAN: 'ON'
  tags:
  - ubuntu1804
  - test

ubuntu1804-release:
  script:
  - ./scripts/ci/normal_build.bash
  stage: platforms
  variables:
    CC: gcc-8
    CXX: g++-8
    BUILD_TYPE: Release
    WITH_BENCHMARK: 'ON'
  artifacts:
    name: ubuntu1804-$CI_JOB_NAME-$CI_COMMIT_REF_NAME
    paths:
    - build/src/apps/depth2x
    expire_in: 1 week
  tags:
  - ubuntu1804
  - test
  - benchmark

roskinetic-image:
  script:
  - ./scripts/ci/normal_build.bash
  image: base-image-roskinetic
  stage: platforms
  allow_failure: true
  variables:
    BUILD_TYPE: RelWithDebInfo
    CC: gcc-9
    CXX: g++-9
  tags:
  - docker
  - platform

rosmelodic-image:
  script:
  - ./scripts/ci/normal_build.bash
  image: base-image-rosmelodic
  stage: platforms
  allow_failure: true
  variables:
    BUILD_TYPE: RelWithDebInfo
    CC: gcc-9
    CXX: g++-9
  tags:
  - docker
  - platform

ubuntu1604-image:
  script:
  - ./scripts/ci/normal_build.bash
  image: base-image-ubuntu1604
  stage: platforms
  allow_failure: true
  variables:
    BUILD_TYPE: RelWithDebInfo
    CC: gcc-9
    CXX: g++-9
  tags:
  - docker
  - platform

ubuntu1804-image:
  script:
  - ./scripts/ci/normal_build.bash
  image: base-image-ubuntu1804
  stage: platforms
  allow_failure: true
  variables:
    BUILD_TYPE: RelWithDebInfo
    CC: gcc-9
    CXX: g++-9
  tags:
  - docker
  - platform

ubuntu-rolling-image:
  script:
  - ./scripts/ci/normal_build.bash
  image: base-image-ubuntu-rolling
  stage: platforms
  allow_failure: true
  variables:
    BUILD_TYPE: RelWithDebInfo
    CC: gcc-9
    CXX: g++-9
  tags:
  - docker
  - platform

[Fix] run clang-tidy on codechanges as well
  .gitlab-ci.yml
Due: none

[Feature] enable -Werror
  cmake/configuration_functions.cmake
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] try to fail clang-tidy job when warnings appear
  .gitlab-ci.yml
Due: none

[Fix] adjust test criteria
  src/unittest/conversion/test_conversion_bearing.cpp
  src/unittest/conversion/test_conversion_curvature.cpp
Due: none

[Refactor] use more floating-point appropriate testing for conversion functions
  src/include/sens_loc/util/correctness_util.h
  src/unittest/conversion/test_conversion_bearing.cpp
  src/unittest/conversion/test_conversion_flexion.cpp
  src/unittest/conversion/test_conversion_laser.cpp
  src/unittest/conversion/test_conversion_max_curve.cpp
  src/unittest/conversion/test_conversion_scaling.cpp
Due: none

[Feature] implement general functionality to scale reals between ranges
  src/include/sens_loc/math/scaling.h
  src/unittest/math/test_scaling.cpp
Due: none

[Refactor] reduce overhead of conversion tests
  src/unittest/CMakeLists.txt
  src/unittest/conversion/test_conversion.cpp
  src/unittest/conversion/test_conversion_bearing.cpp
  src/unittest/conversion/test_conversion_bearing_pathological.cpp
  src/unittest/conversion/test_conversion_laser.cpp
  src/unittest/conversion/test_conversion_max_curve.cpp
  src/unittest/conversion/test_depth_to_laserscan.cpp
  src/unittest/conversion/test_depth_to_max_curve.cpp
  src/unittest/test_conversion_bearing.cpp
Due: none

[Feature] rethink curvature images and scale the produced images better
  src/include/sens_loc/conversion/depth_to_curvature.h
  src/include/sens_loc/math/scaling.h
  src/unittest/CMakeLists.txt
  src/unittest/conversion/test_conversion_curvature.cpp
Due: none

[Refactor] move test files into their subdirectories
  cmake/unittest_macros.cmake
  src/unittest/CMakeLists.txt
  src/unittest/camera_models/test_camera_models.cpp
  src/unittest/conversion/test_conversion.cpp
  src/unittest/conversion/test_conversion_curvature.cpp
  src/unittest/conversion/test_conversion_flexion.cpp
  src/unittest/conversion/test_conversion_laser.cpp
  src/unittest/conversion/test_conversion_max_curve.cpp
  src/unittest/conversion/test_conversion_scaling.cpp
  src/unittest/conversion/test_depth_to_bearing.cpp
  src/unittest/conversion/test_util.cpp
  src/unittest/io/test_io.cpp
  src/unittest/math/test_math.cpp
  src/unittest/test_conversion_bearing.cpp
  src/unittest/test_util.cpp
  src/unittest/util/test_util.cpp
  src/unittest/util/test_version.cpp
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] use L2 norm for distance
  src/include/sens_loc/util/correctness_util.h
Due: none

[Test] reduce tolerance a bit for bearing angle tests
  src/unittest/conversion/test_conversion_bearing.cpp
Due: none

[TryFix] now errors in clang-tidy for warnings?
  .gitlab-ci.yml
Due: none

Revert "[TryFix] now errors in clang-tidy for warnings?"
  .gitlab-ci.yml
Due: none

[Fix] make warnings errors in clang-tidy configuration
  .clang-tidy
Due: clang-tidy-analysis

[Fix] failing test for depth->laser conversion
  src/unittest/conversion/test_conversion_laser.cpp
Due: none

[Fix] remove warning as errors from clang-tidy call in gitlab-ci
  .gitlab-ci.yml
Due: none

[Fix] driver checked scale_cmd presence wrong, found by clang-tidy
  src/apps/depth2x/main.cpp
Due: none

[Feature] prepare tools base-image for CI
  docker/tools/Dockerfile
Due: none

[TryFix] platform tests are failing, try fixing that
  src/CMakeLists.txt
  src/unittest/conversion/test_conversion_bearing.cpp
  src/unittest/io/test_image.cpp
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] io test
  src/unittest/io/test_image.cpp
Due: none

[TryFix] link Eigen3 public if it is found
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] eigen finding issue on ubuntu 18.04+
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] maybe now eigen does not suck anymore?
  CMakeLists.txt
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] maybe nomodule does it?
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[TryFix] remove eigen again and see what happens
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[Deps] add eigen3 as dependency for the project
  CMakeLists.txt
  cmake/check_dependencies_built.cmake
  cmake/use_eigen.cmake
  cmake/use_opencv.cmake
  scripts/ci/coverage_build.bash
  scripts/ci/normal_build.bash
  src/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[Deps] install eigen3.3 in docker images for CI workers
  docker/roskinetic/Dockerfile
  docker/ubuntu1604/Dockerfile
Due: none

[Feature] switch ci jobs t purely docker jobs and enable more compilers
  .gitlab-ci.yml
  docker/tools/Dockerfile
Due: none

[Feature] allow libc++ builds, move towards pure docker
  CMakeLists.txt
  cmake/benchmark_macros.cmake
  cmake/configuration_functions.cmake
  cmake/unittest_macros.cmake
  cmake/use_eigen.cmake
  scripts/ci/normal_build.bash
  src/CMakeLists.txt
  src/apps/CMakeLists.txt
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[Feature] prepare libc++ support
  .gitlab-ci.yml
  cmake/configuration_functions.cmake
  cmake/use_opencv.cmake
  src/include/sens_loc/conversion/depth_to_curvature.h
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[Fix] fogort tag change on coverage build
  .gitlab-ci.yml
Due: none

[Fix] remove some tags
  .gitlab-ci.yml
Due: none

[Fix] install wget on roskinetic to get eigen3
  docker/roskinetic/Dockerfile
Due: none

[Fix] 'gcovr' instead 'gcov'
  docker/tools/Dockerfile
Due: none

[Fix] install libc++ dev dependencies for libc++9
  docker/tools/Dockerfile
Due: none

[TryFix] tool versions changed, so does ci scripts
  .gitlab-ci.yml
  docker/tools/Dockerfile
  scripts/ci/coverage_build.bash
Due: none

[Fix] install clang-tidy-9 on tools image
  docker/tools/Dockerfile
Due: none

[Refactor] move io code into header
  src/include/sens_loc/io/intrinsics.h
  src/lib/io/intrinsics.cpp
Due: none

[Refactor] make sens_loc library header only
  CMakeLists.txt
  src/CMakeLists.txt
  src/lib/io/intrinsics.cpp
Due: ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-asan, ubuntu-1804-ubsan, ubuntu-1804-tsan, ubuntu1804-release, roskinetic-image, rosmelodic-image, ubuntu1604-image, ubuntu1804-image, ubuntu-rolling-image

[Fix] new clang-tidy-9 nits resolved
  .clang-tidy
  src/include/sens_loc/conversion/util.h
  src/include/sens_loc/math/constants.h
Due: clang-tidy-analysis

Path conditions:
  ubuntu-1804-clang-8: any of: cmake/*, src/*, third_party/*
  ubuntu-1804-gcc-8: any of: cmake/*, src/*, third_party/*
  clang-tidy-analysis: any of: .clang-tidy, src/*
  ubuntu-1804-asan: any of: cmake/*, src/*, third_party/*
  ubuntu-1804-ubsan: any of: cmake/*, src/*, third_party/*
  ubuntu-1804-tsan: any of: cmake/*, src/*, third_party/*
  ubuntu1804-release: any of: cmake/*, src/*, third_party/*
  roskinetic-image: any of: cmake/*, src/*, third_party/*
  rosmelodic-image: any of: cmake/*, src/*, third_party/*
  ubuntu1604-image: any of: cmake/*, src/*, third_party/*
  ubuntu1804-image: any of: cmake/*, src/*, third_party/*
  ubuntu-rolling-image: any of: cmake/*, src/*, third_party/*
