Repository JonasToth/depth-conversions: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-staging, windows-10-staging

.gitlab-ci.yml:

---
stages:
    - incremental-testing
    - staging-build

ubuntu-1804-system:
  stage: incremental-testing
  script:
    - mkdir -p build && cd build
    - cmake .. -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTING=ON -DWITH_TESTING=ON -DWITH_CONTRACT_EXCEPTION=ON -DWITH_BENCHMARK=OFF
    - ninja dependencies
    - cmake .
    - ninja
    - ctest -j4 --output-on-failure -R "test_" .
  except:
    refs:
      - master
  only:
    refs:
      - branches
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - cmake/*
      - src/*
      - third_party/*
  tags:
    - ubuntu1804

ubuntu-1804-clang-8:
  stage: incremental-testing
  script:
    - mkdir -p build && cd build
    - CC=clang-8 CXX=clang++-8 LD=lld-8 cmake .. -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTING=ON -DWITH_TESTING=ON -DWITH_CONTRACT_EXCEPTION=ON -DWITH_BENCHMARK=OFF
    - ninja dependencies
    - cmake .
    - ninja
    - ctest -j4 --output-on-failure -R "test_" .
  except:
    refs:
      - master
  only:
    refs:
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - cmake/*
      - src/*
      - third_party/*
  tags:
    - ubuntu1804

ubuntu-1804-gcc-8:
  stage: incremental-testing
  script:
    - mkdir -p build && cd build
    - CC=gcc-8 CXX=g++-8 cmake .. -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTING=ON -DWITH_TESTING=ON -DWITH_CONTRACT_EXCEPTION=ON -DWITH_BENCHMARK=OFF
    - ninja dependencies
    - cmake .
    - ninja
    - ctest -j4 --output-on-failure -R "test_" .
  except:
    refs:
      - master
  only:
    refs:
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - cmake/*
      - src/*
      - third_party/*
  tags:
    - ubuntu1804

clang-tidy-analysis:
  stage: incremental-testing
  script:
    - mkdir -p build && cd build
    - cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=OFF -DWITH_TESTING=OFF -DWITH_CONTRACT_EXCEPTION=OFF -DWITH_BENCHMARK=OFF -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - cd .. && ln -s build_analyze/compile_commands.json && cd src/
    - run-clang-tidy-8 -header-filter=sens_loc/* include/ apps/ lib/
  only:
    refs:
      - master
      - merge_requests
    changes:
      - .clang-tidy
      - src/*
  tags:
    - ubuntu1804

ubuntu-1804-staging:
  stage: staging-build
  script:
    - mkdir -p build && cd build
    - CC=gcc-8 CXX=g++-8 cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DWITH_TESTING=ON -DWITH_CONTRACT_EXCEPTION=OFF -DWITH_BENCHMARK=ON
    - cmake .
    - ninja
    - ctest -j4 --output-on-failure -R "test_" .
    - ctest --verbose -R "bm_" .
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - cmake/*
      - src/*
      - third_party/*
  artifacts:
    name: "staging-$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - build/src/apps/depth2x
    expire_in: 1 week
  tags:
    - ubuntu1804

windows-10-staging:
  stage: staging-build
  variables:
      CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\bash -lc "echo $(pwd)"
    - mkdir -p build && cd build
    - CC=gcc-8 CXX=g++-8 cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DWITH_TESTING=ON -DWITH_CONTRACT_EXCEPTION=OFF -DWITH_BENCHMARK=ON
    - cmake .
    - ninja
    - ctest -j4 --output-on-failure -R "test_" .
    - ctest --verbose -R "bm_" .
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - cmake/*
      - src/*
      - third_party/*
  artifacts:
    name: "staging-$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - build/src/apps/depth2x
    expire_in: 1 week
  tags:
    - windows10

[Misc] allow custom opencv path
  cmake/use_opencv.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Misc] remove windows, simply doesnt work
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] add asan and ubsan support
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/configuration_functions.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] add TSAN build as well
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/configuration_functions.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Refactor] simplify all build calls
  .gitlab-ci.yml
  scripts/ci/normal_build.bash
  scripts/log_helpers.sh
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Misc] run incremental not for merge-requests anymore, as it runs anyway with every commit
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Fix] allow TSAN to fail, until upstream bug is fixed
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Refactor] rename stages to make more sense
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] start implementing base image for ubuntu 16.04
  CMakeLists.txt
  cmake/use_cli11.cmake
  docker/ubuntu1604/Dockerfile
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] add more base images
  docker/roskinetic/Dockerfile
  docker/rosmelodic/Dockerfile
  docker/ubuntu1804/Dockerfile
Due: none

[Fix] warning in cmake fixed
  cmake/configuration_functions.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] add docker setups for ubuntu 16.04 and ubuntu rolling release
  docker/ubuntu-latest/Dockerfile
Due: none

[Feature] script to build all docker images accordingly
  docker/ubuntu-rolling/Dockerfile
  scripts/build_all_images.bash
  scripts/update_dep.bash
Due: none

[Refactor] use ExternalProject_Add purley for opencv build
  cmake/opencv_options.cmake
  cmake/use_opencv.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Misc] add ci badges to Readme
  README.md
Due: none

[TryFix] run staging build always on master
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] try adding platform tests
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Fix] platform tests on master as well
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Refactor] reduce duplication in gitlab-ci.yml
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[CI] add all platforms to ci
  .gitlab-ci.yml
  docker/roskinetic/Dockerfile
  docker/rosmelodic/Dockerfile
  docker/ubuntu-rolling/Dockerfile
  scripts/build_all_images.bash
  scripts/ci/normal_build.bash
  scripts/log_helpers.sh
  src/CMakeLists.txt
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-staging, windows-10-staging

[Misc] use flat badges
  README.md
Due: none

[Feature] implement cmake bits for test coverage reporting
  CMakeLists.txt
  cmake/configuration_functions.cmake
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] add gitlab-ci parts of test coverage
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[CI] streamline pipelines as bit for faster testing times on branches
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[CI] run coverage on merge_requests as well to see that in the ui
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] build coverage together with normal testing on master/merge_requests
  .gitlab-ci.yml
  scripts/ci/coverage_build.bash
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[CI] dont include gitlab-ci as code
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Feature] implement scaling of depth images, including tests
  src/CMakeLists.txt
  src/include/sens_loc/conversion/depth_scaling.h
  src/unittest/CMakeLists.txt
  src/unittest/conversion/scale-offset.png
  src/unittest/conversion/scale-up.png
  src/unittest/test_conversion_scaling.cpp
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, clang-tidy-analysis, ubuntu-1804-staging, windows-10-staging

[Feature] implement driver part for scaling support
  src/apps/CMakeLists.txt
  src/apps/depth2x/converter_scale.cpp
  src/apps/depth2x/converters.h
  src/apps/depth2x/main.cpp
  src/test/CMakeLists.txt
  src/test/depth2x/test_depth2x_scale.sh
Due: none

[Test] add one test with the subcomand being the first argument for the driver
  src/test/depth2x/test_depth2x.sh
Due: none

[Fix] make arguments fall through to subcommands
  src/apps/depth2x/main.cpp
Due: none

[Fix] dont make intrinsic mandatory anymore, as scaling doesnt need it
  src/apps/depth2x/main.cpp
  src/test/depth2x/test_depth2x.sh
Due: none

[Refactor] move ubuntu 1804 staging build around + rename
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[DirtyFix] scale command should not complain about missing intrinsic file
  src/apps/depth2x/main.cpp
Due: none

[TryFix] code_change filter bad?
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[TryFix] now running always?
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[TryFix] still running?
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Misc] whitespace fix to trigger builds
  src/include/sens_loc/version.h
Due: none

[Fix] filter changes should work now as expected
  .gitlab-ci.yml
Due: ubuntu-1804-system, ubuntu-1804-clang-8, ubuntu-1804-gcc-8, ubuntu-1804-staging, windows-10-staging

[Misc] whitespace change to trigger builds
  src/include/sens_loc/version.h
Due: none
